<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.mapper.AssetMapper">
    <resultMap id="assetMap" type="com.tw.domain.Asset">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="price" column="price" />
    </resultMap>
    <insert id="saveAsset" keyProperty="asset.id">
        insert into assets (name, price) values (#{asset.name}, #{asset.price})
    </insert>

    <select id="findAssetById" resultMap="assetMap">
      select id, name, price from assets where id = #{id}
    </select>
</mapper>