<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.mapper.CategoryMapper">
    <resultMap id="resultCategory" type="com.tw.domain.Category">
        <id property="id" column="categoryId" />
        <result property="name" column="categoryName" />
        <association property="policy" javaType="com.tw.domain.Policy">
            <id property="id" column="policyId" />
            <result property="percentage" column="policyPercentage"/>
            <result property="factor" column="policyFactor" />
            <result property="termLengthByMonth" column="policyTermLengthByMonth" />
        </association>
    </resultMap>

    <insert id="saveCategory"  keyProperty="category.id">
        INSERT INTO categories (name) values (#{category.name})
    </insert>

    <select id="getCategoryById" resultMap="resultCategory">
        SELECT
         a.id as categoryId,
         a.name as categoryName,
         b.id as policyId,
         b.factor as policyFactor,
         b.percentage as policyPercentage,
         b.termLengthByMonth as policyTermLengthByMonth
         FROM categories a left join policies b on a.id = b.categoryId
         where a.id = #{id}
    </select>

    <select id="getAllCategories" resultMap="resultCategory">
        SELECT
        category.id as categoryId,
        category.name as categoryName,
        policy.id as policyId,
        policy.factor,
        policy.percentage,
        policy.termLengthByMonth
        FROM categories as category left join policies as policy on category.id = policy.categoryId;
    </select>
</mapper>